body{
    margin: 0;
}
header{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin: 40px;
}
.words{
    display: flex;
    align-items: center;
}
.cofe{
    background-image: url(/img.png);
}
.text{
    font-size: 96px;
    color: white;
    margin-left: 40px;
}
button{
    text-decoration: none;
    background-color: rgb(4, 224, 4);
    padding-left: 56px;
    padding-right: 56px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 10px;
    margin-bottom: 210px;
}

.plants{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
}

.plant1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.photo{
    
    margin-right: 40px;
    margin-left: 40px;
}
.categories{
    display: flex;
    justify-content: space-between;
    margin: 80px;

}
.p1{
    font-size: 64px;
    display: flex;
    justify-content: center;
    font-style:italic;
}
.p2{
    margin-top: 101px; 
    border-radius: 10px;
    border-color: blue;
    border-width: 5px;
}
.p3{
   display: flex;
   justify-content: center;
}
.sell{
    margin-top: 80px;
    background-color: green;
    padding: 32px;
    margin-right: 40px;
    margin-left: 40px;
}
.offer{
    font-size: 64px;
    display: flex;
    justify-content: center;
}
.img{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.p5{
    margin-right: 32px;
    margin-bottom: 32px;
    margin-top: 32px;
    margin-left: 32px;
    border: 1px solid rgba(0, 0, 0, 0.432);
    padding: 16px 32px 16px 32px;
    padding-left: 10px;
    color: white;
    border-color: white;
    border-radius: 5px;
    width: 500px;
    font-size: 20px;
}
.tekst{
    margin-right: 300px;
}.p6{
      margin-right: 32px;
    margin-bottom: 32px;
    margin-top: 32px;
    margin-left: 32px;
    border: 1px solid rgba(0, 0, 0, 0.432);
    padding: 16px 32px 16px 32px;
    padding-left: 10px;
    color: white;
    border-radius: 5px;
    width: 500px;
    display: flex;
    justify-content: center;
    background-color: white;
    color: black;
}
.footer{
    margin-right: 40px;
    margin-left: 40px;
   
}
.p8{
    font-size: 64px;
}
.categories{
    display: grid;
    grid-template-columns: auto;
}

