body{
    margin: 0;
}
header{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin: 40px;
}
.words{
    display: flex;
    align-items: center;
}
.cofe{
    background-image: url(/img.png);
}
.text{
    font-size: 96px;
    color: white;
    margin-left: 40px;
}
button{
    text-decoration: none;
    background-color: rgb(4, 224, 4);
    padding-left: 56px;
    padding-right: 56px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 10px;
    margin-bottom: 210px;
}

.plants{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
}

.plant1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}